:root {
  /* Colores primarios */
  --gris-oscuro: #333333;
  --gris-medio: #666666;
  --gris-claro: #CCCCCC;
  --gris-muy-claro: #F2F2F2;
  --blanco: #FFFFFF;

  /* Tipografías y pesos */
  --font-encabezado-h1: 'Sometype Mono', Helvetica;
  --fs-encabezado-h1: 36px;
  --fw-encabezado-h1: 500;

  --font-encabezado-h2: 'Sometype Mono', Helvetica;
  --fs-encabezado-h2: 28px;
  --fw-encabezado-h2: 500;

  --font-encabezado-h3: 'Sometype Mono', Helvetica;
  --fs-encabezado-h3: 22px;
  --fw-encabezado-h3: 500;

  /* Cuerpo de texto */
  --font-cuerpo: 'IBM Plex Mono', Helvetica;
  --fs-cuerpo: 16px;
  --fw-cuerpo: 400;
  --lh-cuerpo: 1.4;
}
